<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">	
		<div class="title-header">		
			<span><a href="http://spaceconcordia.github.io/divisions">SPACECRAFT</a></span>				
			<h2><a>CONSAT-1</a></h2>	
		</div>
		<div class="content-area">
			<main class="site-main">
				<section id="sponsor-block" class="block">
					<div class="gallery">
						<div class="entry-block" >
							<figure>
								<div class="entry-image">
									<h3><a>CONCOM</a></h3>			
									<img src="assets/sponsers/concom.png"height="300" width="420">
								</div>
							</figure>
						</div>	
					</div>
				</section>
			</main>
		</div>		
	</div>
</body>
